@font-face {
  font-family: Bender;
  src: url("../../assets/bender.light.otf") format("opentype");
}
@font-face {
  font-family: "AR Techni";
  src: url("../../assets/ar.techni.ttf") format("truetype");
}
