@import "../../modules/reset";

body {
  color: white;
}

.container {
  // Wrap Main and Server Sections
  @import "containerStyle";
  @include containerStyle;
  .main {
    // Main Content
    @import "mainStyle";
    @include mainStyle;

    .title {
      font-size: 22pt;
      font-family: "Bender";
      font-weight: lighter;
      letter-spacing: 0.05rem;
      -webkit-app-region: drag;
    }
  }
  .server {
    //Server Content
    @import "serverStyle";
    @include serverStyle;
    .buttons {
      // Buttons Upper Row
      @import "buttonsRowStyle";
      @include buttonsRowStyle;
    }
    .server-list {
      // Servers List
      @import "serverListStyle";
      @include serverListStyle;
    }
  }
}
