@import "../../modules/reset";

body {
  color: white;
}

.container {
  // Wrap Main and Server Sections
  @import "containerStyle";
  @include containerStyle;
  .main {
    // Main Content
    width: 100%;
    height: 100%;
    padding: 12px;

    .title {
      font-size: 18pt;
      -webkit-app-region: drag;
    }
  }
  .server {
    //Server Content
    @import "serverStyle";
    @include serverStyle;
    .buttons {
      // Buttons Upper Row
      display: flex;
      padding: 1px;
      gap: 1px;
      background: yellow;
      & button {
        background: grey;
        flex-grow: 1;
      }
    }
    .server-list {
      // Servers List
      @import "serverListStyle";
      @include serverListStyle;
      p {
        // Server list Item
        background: gray;
      }
    }
    .connect {
      padding: 6px;
      background: yellowgreen;
    }
  }
}
